{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
      "production": {
          "presets": ["babili"]
      }
  }
}
